* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}