* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0 auto;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 30px;
    font-family: "Open Sans";
}

h1 {
    font-family: Poppins;
}

p {
    margin: 40px 0;
    font-size: 18px;
}

.logo {
    width: 300px;
    margin-right: auto;
    margin-bottom: 40px;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 40px;
}

.container img {
    width: 70%;
}

.info {
    width: 350px;
    margin: 0 auto;
    margin-top: 40px;
}

.register {
    margin-bottom:80px;
    padding: 10px 60px;
    border-radius: 50px;
    border: 1px solid hsl(257, 40%, 49%);
    /* font-size: 18px; */
    font-weight: 600;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

.socials {
    /* width: 120px; */
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.socials svg  {
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px ;
}

/* hover states */
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

/* media queries */
@media (width > 1800px) {
    body {
        background-image: url("./images/bg-desktop.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: start;
    }
    .container {
        width: 1800px;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        justify-content: space-around;
    }
    .container img {
        width:  60%;
    }
    .register {
        padding: 20px 80px;
    font-size: 18px;

    }
    .socials {
        align-self: flex-end;
    }
}