* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0 auto;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

p {
    margin: 40px 0;
    font-size: 18px;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 40px;
}

.container img {
    width: 70%;
}

.info {
    width: 350px;
    margin: 0 auto;
    margin-top: 40px;
}